html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.top-container {
  height: 20%;
  width: 100%;
  text-align: center;
}

.box {
  height: 80%;
  width: 20%;
  display: inline-block;
  margin: 20px 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: #42a5f5;
}

.grey {
  background-color: grey
}
.text-box{
  height: 15%;
  width: 95%;
  text-align: left;
  margin-top: 1%;
  padding: 2%;
  overflow: hidden;
}

.middle-container {
  height: 33%;
  width: 100%;
  text-align: center;
  margin: 0;
}

.m {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.l {
  background-color: red;
  height: 100%;
  width: 32%;
  margin-right: -2px;
}

.r {
  height: 100%;
  width: 65%;
  background-color: #42a5f5;
  margin-left: -2px;
}

.bottom-container {
    height: 15%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
.bottom {
  margin: -4px;
  width: 100%;
  display: inline-block;
}

.left {
  width: 74%;
  height: 100%;
  background-color: #42a5f5;
}

.column {
  width: 4%;
  height: 100%;
  background-color: red;
}

.block {
  width: 16%;
  height: 100%;
  background-color: grey;
}

.column2 {
  width: 4%;
  height: 100%;
  background-color: red;
}
